/* @import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@500;600;700&family=Vina+Sans&family=Work+Sans:wght@400;500;600&display=swap'); */

*>*{
    font-family: 'Gill Sans MT', Vina Sans, Calibri, 'Work Sans', 'Gill Sans', 'Smooch Sans', sans-serif, 'Trebuchet MS';
}
.body{
    
}
.userinfo {
    /* border: 1px solid blue; */
    padding: 7px;
    display: flex;
    margin-right: 9px;
    flex-wrap: wrap;
    flex-direction: column;
}
.profile-upper{
    background-image: url('../assets/jpg_img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}